

<div class="outer-menu">
	<input class="checkbox-toggle" type="checkbox" />
	<div class="hamburger">
	<div></div>
	</div>
	<div class="menu">
	<div>
		<div>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/scholarships/">Scholarships</a></li>
				<li><a href="/members">Membership</a></li>
				<li><a href="/giving">Giving</a></li>
				<li><a href="/resources">Resources</a></li>
				<li><a href="/future">Future</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/contact">Contact Us</a></li>

			</ul>
		</div>
	</div>
	</div>
</div>
